<a href="https://colab.research.google.com/github/Marcelooyola/UDAMod5/blob/main/trabajo_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

# **Trabajo Final - Módulo 5 - Aprendizaje Automático - Machine Learning**

![logo](https://www.python.org/static/community_logos/python-powered-w-100x40.png)

~~~
Nombre: Marcelo
Apellido: Oyola
~~~

# **Aclaraciones previas**



*   En cada celda se indica lo solicitado.
*   Se pueden generar la cantidad de scripts necesarios.
*   Puede explicar insertando celdas de texto.
*   Para graficar se puede utilizar cualquier librería.
*   Al finalizar, descargar el archivo y entregarlo por el campus.
*   Al finalizar se debería borrar esta celda.

# **Carga de módulos y datos necesarios**

In [1]:
import pandas as pd
import numpy as np

# **Creación del DataFrame**

In [2]:
url="https://raw.githubusercontent.com/cristiandarioortegayubro/Maestria-Ciencia-de-Datos-UBA-FCE/main/Gestion_y_Procesamiento_BD/"
archivo="bank-full.csv"
analisis = pd.read_csv(url+archivo)
analisis.replace({"unknown": np.nan}, inplace=True)

# **Análisis Exploratorio de los datos**

## Visualización del conjunto de datos

In [3]:
analisis.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no

## Tipos de datos

In [4]:
analisis.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [5]:
analisis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        44923 non-null  object
 2   marital    45211 non-null  object
 3   education  43354 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    32191 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   8252 non-null   object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

## Dimensión del conjunto de datos y valores nulos y faltantes

In [6]:
#Dimesion del conjunto de datos
dimension = analisis.shape
print(f'Dimension del conjunto de datos: \n Filas: {dimension[0]} \n Columnas: {dimension[1]}')

Dimension del conjunto de datos:
 Filas: 45211
 Columnas: 17

In [7]:
valor_null = analisis.isnull()
valor_null_xcol = valor_null.sum()

print (f'Valores nulos por columna: \n {valor_null_xcol}')

Valores nulos por columna:
 age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
y                0
dtype: int64

## Variable Objetivo

In [8]:
y = analisis['y'] #se define variable objetivo
X = analisis.drop(columns=['y']) #se define conjunto de analisis

## Variables numéricas, análisis descriptivo

In [12]:
descripcion = y.describe()
print(f'{descripcion}')

count     45211
unique        2
top          no
freq      39922
Name: y, dtype: object

In [13]:
descripcion = X.describe()
print(f'{descripcion}')

                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

## Otras variables, análisis descriptivo

In [14]:
descripcion = X.describe(exclude='int64')
print(f'{descripcion}')

                job  marital  education default housing   loan   contact  \
count         44923    45211      43354   45211   45211  45211     32191
unique           11        3          3       2       2      2         2
top     blue-collar  married  secondary      no     yes     no  cellular
freq           9732    27214      23202   44396   25130  37967     29285

        month poutcome
count   45211     8252
unique     12        3
top       may  failure
freq    13766     4901

## Correlación de variables

## Graficos de variables

# **División del conjunto de datos**

# **Preprocesamiento**

## Imputación de valores faltantes

## Codificación de variables no numéricas